@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Markazi+Text:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
}
.display-title{
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 64px;
}
.sub-title{
  font-family: 'Markazi Text', serif;
  font-weight: 400;
  font-size: 40px;
}
.lead-text{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.section-title{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.section-categories{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.card-title{
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
p{
  font-family: 'Karla', sans-serif;
}
.highlight-text{
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

/* navbar */
nav{
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  padding: 1rem;
}
nav img{
  height: 50px;
}
.navlinks{
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-between;
}